@using QLSVNoiTru.Database;
@using QLSVNoiTru.Models;
@{
    ViewBag.Title = "Thông tin tài khoản";
    User user = (User)ViewData["user"];
}
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Thông tin tài khoản</h4>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <form action="/NguoiDung/capnhatthongtincanhan" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên tài khoản <span class="required-field">(*)</span></label>
                            <input readonly type="text" value="@user.UserName" name="UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input id="Password" type="password" name="Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Họ tên</label>
                            <input type="text" value="@user.FullName" name="FullName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="Email" value="@user.Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Quyền</label>
                            <select disabled name="Quyen" class="form-control" required>
                                <option @(user.Quyen == 1 ? "selected" : "") value="1">BP Quản lý</option>
                                <option @(user.Quyen == 2 ? "selected" : "") value="2">BP Điện nước</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>