@using QLSVNoiTru.Database;
@using QLSVNoiTru.Models;
@{
    ViewBag.Title = "Khen thưởng sinh viên";
    SinhVien sinhvien = (SinhVien)ViewData["sinhvien"];
}
<script>
    $("#KHENTHUONGKYLUAT").addClass("active");
</script>
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Khen thưởng sinh viên</h4>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <form id="form-search" action="/KyLuatKhenThuong/KhenThuong" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label style="display:block">Mã sinh viên</label>
                                    <input value="@ViewBag.masinhvien" type="text" name="masinhvien" class="form-control" style="max-width:250px;float:left" />
                                    <button type="submit" class="btn btn-primary" style="float:right">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr />
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            @if (sinhvien != null)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="display: block;text-align: center;">Hình ảnh</label>
                                            <img id="img-logo" src="@sinhvien.HinhAnh">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mã sinh viên <span class="required-field">(*)</span></label>
                                            <input readonly id="MaSinhVien" value="@sinhvien.MaSinhVien" required type="text" name="MaSinhVien" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Lớp <span class="required-field">(*)</span></label>
                                            <input readonly id="MaSinhVien" value="@sinhvien.Lop.TenLop" required type="text" name="MaSinhVien" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Tên sinh viên <span class="required-field">(*)</span></label>
                                            <input readonly required value="@sinhvien.TenSinhVien" name="TenSinhVien" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh <span class="required-field">(*)</span></label>
                                            <input readonly required name="NgaySinh" value="@sinhvien.NgaySinh.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Giới tính <span class="required-field">(*)</span></label>
                                            <select disabled name="GioiTinh" class="form-control">
                                                <option @(sinhvien.GioiTinh == "Nam" ? "selected" : "") value="Nam">Nam</option>
                                                <option @(sinhvien.GioiTinh != "Nam" ? "selected" : "") value="Nữ">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dân tộc <span class="required-field">(*)</span></label>
                                            <input readonly required value="@sinhvien.DanToc" name="DanToc" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Hộ khẩu</label>
                                            <input readonly value="@sinhvien.HoKhau" name="HoKhau" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input readonly value="@sinhvien.SDT" name="SDT" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ghi chú</label>
                                            <textarea readonly name="GhiChu" type="text" class="form-control">@sinhvien.GhiChu</textarea>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h4>Không tìm thấy thông tin sinh viên</h4>
                            }
                        </div>
                        <div class="col-md-7">
                            @if (sinhvien != null)
                            {
                                <form id="form-submit" action="/KyLuatKhenThuong/CapNhatKhenThuong" method="post">
                                    <input type="hidden" name="MaSinhVien" value="@sinhvien.MaSinhVien" />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label style="display:block">Nội dung khen thưởng</label>
                                                    <textarea class="form-control" name="KhenThuong" rows="15">@sinhvien.KhenThuong</textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center" style="margin-top:50px">
                                                <button class="btn btn-primary">Cập nhật</button>
                                                <a href="/" class="btn btn-success">Hủy</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>