@using QLSVNoiTru.Database;
@using QLSVNoiTru.Models;
@{
    ViewBag.Title = "Kỷ luật sinh viên";
    List<SinhVienKyLuat> sinhVienKyLuats = (List<SinhVienKyLuat>)ViewData["sinhVienKyLuats"];
    SinhVien sinhvien = (SinhVien)ViewData["sinhvien"];
    if (sinhVienKyLuats == null)
    {
        sinhVienKyLuats = new List<SinhVienKyLuat>();
    }
}
<script>
    $("#KHENTHUONGKYLUAT").addClass("active");
</script>
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Kỷ luật sinh viên</h4>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <form id="form-search" action="/KyLuatKhenThuong/KyLuat" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label style="display:block">Mã sinh viên</label>
                                    <input value="@ViewBag.masinhvien" type="text" name="masinhvien" class="form-control" style="max-width:250px;float:left" />
                                    <button type="submit" class="btn btn-primary" style="float:right">Tìm kiếm</button>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Mức độ cảnh cáo</label>
                                    <select onchange="$('#form-search').submit()" name="mucdo" class="form-control" style="max-width:250px">
                                        <option @(ViewBag.mucdo == 0 ? "selected" : "") value="0">Chọn..</option>
                                        <option @(ViewBag.mucdo == 1 ? "selected" : "") value="1">Mức 1</option>
                                        <option @(ViewBag.mucdo == 2 ? "selected" : "") value="2">Mức 2</option>
                                        <option @(ViewBag.mucdo == 3 ? "selected" : "") value="3">Mức 3</option>
                                        <option @(ViewBag.mucdo == 4 ? "selected" : "") value="4">Mức 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            @if (sinhvien != null)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="display: block;text-align: center;">Hình ảnh</label>
                                            <img id="img-logo" src="@sinhvien.HinhAnh">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mã sinh viên <span class="required-field">(*)</span></label>
                                            <input readonly id="MaSinhVien" value="@sinhvien.MaSinhVien" required type="text" name="MaSinhVien" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Lớp <span class="required-field">(*)</span></label>
                                            <input readonly id="MaSinhVien" value="@sinhvien.Lop.TenLop" required type="text" name="MaSinhVien" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Tên sinh viên <span class="required-field">(*)</span></label>
                                            <input readonly required value="@sinhvien.TenSinhVien" name="TenSinhVien" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh <span class="required-field">(*)</span></label>
                                            <input readonly required name="NgaySinh" value="@sinhvien.NgaySinh.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Giới tính <span class="required-field">(*)</span></label>
                                            <select disabled name="GioiTinh" class="form-control">
                                                <option @(sinhvien.GioiTinh == "Nam" ? "selected" : "") value="Nam">Nam</option>
                                                <option @(sinhvien.GioiTinh != "Nam" ? "selected" : "") value="Nữ">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dân tộc <span class="required-field">(*)</span></label>
                                            <input readonly required value="@sinhvien.DanToc" name="DanToc" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Hộ khẩu</label>
                                            <input readonly value="@sinhvien.HoKhau" name="HoKhau" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input readonly value="@sinhvien.SDT" name="SDT" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ghi chú</label>
                                            <textarea readonly name="GhiChu" type="text" class="form-control">@sinhvien.GhiChu</textarea>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h4>Không tìm thấy thông tin sinh viên</h4>
                            }
                        </div>
                        <div class="col-md-7">
                            @if (sinhvien != null)
                            {
                                <form id="form-submit" action="/KyLuatKhenThuong/CapNhatKyLuat" method="post">
                                    <input type="hidden" name="MaSinhVien" value="@sinhvien.MaSinhVien" />
                                    <input type="hidden" name="MucDo" value="@ViewBag.mucdo" />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover datatable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:100px"></th>
                                                            <th>Tên vi phạm</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < sinhVienKyLuats.Count; i++)
                                                        {
                                                            <tr>
                                                                <td class="text-center">
                                                                    <input type="hidden" name="sinhVienKyLuats[@i].MaKyLuat" value="@sinhVienKyLuats[i].MaKyLuat" />
                                                                    <input @(sinhVienKyLuats[i].Chon ? "checked" : "") type="checkbox" name="sinhVienKyLuats[@i].Chon" value="true" />
                                                                </td>
                                                                <td>
                                                                    <span>@sinhVienKyLuats[i].KyLuat.TenKyLuat</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12 text-center" style="margin-top:50px">
                                                @if (ViewBag.mucdo > 0)
                                                {
                                                    <button class="btn btn-primary">Cập nhật</button>
                                                }
                                                <a href="/" class="btn btn-success">Hủy</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>