@using QLSVNoiTru.Database;
@{
    ViewBag.Title = "Thông tin lớp";
    List<Khoa> khoas = (List<Khoa>)ViewData["khoas"];
    List<Lop> lops = (List<Lop>)ViewData["lops"];
}
<script>
    $("#QUANLY").addClass("active");
</script>
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Thông tin lớp</h4>
                <button onclick="them()" class="btn btn-primary pull-right" style="margin-top: 10px;">Thêm mới</button>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover datatable">
                        <thead>
                            <tr>
                                <th>Tên khoa</th>
                                <th>Mã lớp</th>
                                <th>Tên lớp</th>
                                <th style="width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lops)
                            {
                                <tr>
                                    <td>@item.Khoa.TenKhoa</td>
                                    <td>@item.MaLop</td>
                                    <td>@item.TenLop</td>
                                    <td class="text-center">
                                        <button onclick="chitiet('@item.MaLop')" class="btn btn-primary btn-sm">Sửa</button>
                                        <button onclick="xacnhanxoa('@item.MaLop')" class="btn btn-danger btn-sm">Xóa</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Thêm mới</h4>
            </div>
            <form id="form-submit" action="" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mã khoa <span class="required-field">(*)</span></label>
                                <select name="MaKhoa" class="form-control" required>
                                    <option value="">Chọn...</option>
                                    @foreach (var item in khoas)
                                    {
                                        <option value="@item.MaKhoa">@item.TenKhoa</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Mã lớp <span class="required-field">(*)</span></label>
                                <input id="MaLop" required name="MaLop" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Tên lớp <span class="required-field">(*)</span></label>
                                <input required name="TenLop" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cảnh báo</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa bản ghi này?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <a id="xoa_banghi" href="" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>
<script>
    var acceptSubmit = false;
    var isThemMoi = true;
    var urlCheckMaTonTai = "/lop/kiemtratrung?maLop=";
    var urlChiTiet = "/lop/ChiTiet?maLop=";
    function them() {
        acceptSubmit = false;
        isThemMoi = true;
        document.getElementsByName("MaLop")[0].value = "";
        document.getElementsByName("TenLop")[0].value = "";
        document.getElementsByName("MaKhoa")[0].value = "";
        $("#MaLop").removeAttr("readonly");
        $("#form-submit").attr("action", "/lop/themmoi");
        $("#myModal").modal();
    }
    function xacnhanxoa(maLop) {
        $("#xoa_banghi").attr("href", "/lop/xoa?maLop=" + maLop);
        $("#modalDelete").modal();
    }
    function chitiet(maLop) {
        isThemMoi = false;
        $.get(urlChiTiet + maLop, function (data) {
            document.getElementsByName("MaKhoa")[0].value = data.MaKhoa;
            document.getElementsByName("MaLop")[0].value = data.MaLop;
            document.getElementsByName("TenLop")[0].value = data.TenLop;
            $("#form-submit").attr("action", "/lop/capnhat");
            $("#MaLop").attr("readonly", "readonly");
            $("#myModal").modal();
        });
    }
    $(document).ready(function () {
        $("#form-submit").on('submit', function (e) {
            if (isThemMoi) {
                if (!acceptSubmit) {
                    e.preventDefault();
                    let maLop = document.getElementsByName("MaLop")[0].value;
                    $.get(urlCheckMaTonTai + maLop, function (data) {
                        if (data.result) {
                            alert("Mã lớp đã tồn tại");
                        }
                        else {
                            acceptSubmit = true;
                            $("#form-submit").submit();
                        }
                    });
                }
            }
        });
    });
</script>