@using QLSVNoiTru.Database;
@using QLSVNoiTru.Models;
@{
    ViewBag.Title = "Đăng ký thêm nội trú";
    List<LoaiPhong> loaiphongs = (List<LoaiPhong>)ViewData["loaiphongs"];
    List<ETang> eTangs = (List<ETang>)ViewData["eTangs"];
    List<Lop> lops = (List<Lop>)ViewData["lops"];
}
<script src="~/Plugins/ckfinder/ckfinder.js"></script>
<style>
    .box-tang {
        border: 1px solid #dcdcdc;
        border-bottom: none;
    }

        .box-tang:last-child {
            border-bottom: 1px solid #dcdcdc;
        }

    .box-phong {
        padding: 10px;
        border-left: 1px solid #dcdcdc;
    }
</style>
<script>
    $("#DANGKYNOITRU").addClass("active");
</script>
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Đăng ký thêm nội trú</h4>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <form id="form-submit" action="/SinhVien/DangKyNoiTru" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Đăng ký cho</label>
                                    <div>
                                        <label style="margin-right:10px">
                                            <input checked type="radio" name="dangkychosinhvien" value="1" />
                                            <span>Sinh viên mới</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="dangkychosinhvien" value="0" />
                                            <span>Sinh viên cũ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="display: block;text-align: center;">Hình ảnh</label>
                                    <img id="img-logo" src="/Files/img-default.gif">
                                    <input required value="/Files/img-default.gif" id="Logo" style="display: none; width: 0px;" name="HinhAnh" class="upload">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mã lớp <span class="required-field">(*)</span></label>
                                    <select required name="MaLop" class="form-control">
                                        <option value="">Chọn...</option>
                                        @for (int i = 0; i < lops.Count; i++)
                                        {
                                            <option value="@lops[i].MaLop">@lops[i].TenLop</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group" style="overflow: hidden;">
                                    <label style="display:block">Mã sinh viên <span class="required-field">(*)</span></label>
                                    <input id="MaSinhVien" required type="text" name="MaSinhVien" class="form-control" style="max-width:250px;float:left" />
                                    <button type="button" onclick="kiemtrasinhvien()" class="btn btn-primary" style="float:right">Kiểm tra</button>
                                </div>
                                <div class="form-group">
                                    <label>Tên sinh viên <span class="required-field">(*)</span></label>
                                    <input required name="TenSinhVien" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ngày sinh <span class="required-field">(*)</span></label>
                                    <input required name="NgaySinh" value="0" type="date" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Giới tính <span class="required-field">(*)</span></label>
                                    <select name="GioiTinh" class="form-control">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Dân tộc <span class="required-field">(*)</span></label>
                                    <input required name="DanToc" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Hộ khẩu</label>
                                    <input name="HoKhau" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input name="SDT" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <textarea name="GhiChu" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <h4>Chọn phòng học</h4>
                        <input id="SoHieuPhong" type="hidden" name="SoHieuPhong" value="" />
                        @for (int i = 0; i < eTangs.Count; i++)
                        {
                            <div class="box-tang">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div style="padding:10px">
                                            <b>@eTangs[i].TenTang</b>
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="row" style="margin: 0;">
                                            @for (int j = 0; j < eTangs[i].Phongs.Count; j++)
                                            {
                                                <div class="col-md-2 text-center" style="padding: 0;">
                                                    <div class="box-phong">
                                                        <h4>
                                                            <b>@eTangs[i].Phongs[j].SoHieuPhong</b>
                                                        </h4>
                                                        <p>@eTangs[i].Phongs[j].LoaiPhong.TenLoaiPhong</p>
                                                        <p>@eTangs[i].Phongs[j].SoPhongDaO / @eTangs[i].Phongs[j].SucChuaToiDa</p>
                                                        <p>
                                                            @if (eTangs[i].Phongs[j].SoPhongDaO < eTangs[i].Phongs[j].SucChuaToiDa)
                                                            {
                                                                <button type="button" id="btn-chonphong_@eTangs[i].Phongs[j].SoHieuPhong" onclick="ChonPhong('@eTangs[i].Phongs[j].SoHieuPhong')" class="btn-chonphong btn btn-primary btn-sm">Chọn phòng</button>
                                                                <button type="button" id="btn-dachonphong_@eTangs[i].Phongs[j].SoHieuPhong" class="btn-dachonphong btn btn-warning btn-sm hidden">Đã chọn</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-danger btn-sm">Phòng đã đầy</button>
                                                            }
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-12 text-center" style="margin-top:50px">
                        <button class="btn btn-primary">Cập nhật</button>
                        <a href="/SinhVien/DanhSachSinhVien" class="btn btn-success">Danh sách sinh viên</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>
<script>
    var acceptSubmit = false;
    var urlCheckMaTonTai = "/sinhvien/kiemtratrung?maSinhVien=";
    function ChonPhong(sohieuphong) {
        $(".btn-dachonphong").addClass('hidden');
        $(".btn-chonphong").removeClass('hidden');
        $("#btn-chonphong_" + sohieuphong).addClass('hidden');
        $("#btn-dachonphong_" + sohieuphong).removeClass('hidden');
        $("#SoHieuPhong").val(sohieuphong);
    }
    function kiemtrasinhvien() {
        let maSinhvien = document.getElementsByName("MaSinhVien")[0].value;
        if (maSinhvien == '') {
            alert('Mã sinh viên không dược trống');
            return;
        }
        $.get(urlCheckMaTonTai + maSinhvien, function (data) {
            if (document.getElementsByName("dangkychosinhvien")[0].checked) {
                if (data.result) {
                    alert("Mã sinh viên đã tồn tại");
                }
                else {
                    alert('Mã sinh viên hợp lệ');
                }
            }
            else {
                if (data.result) {
                    let sinhvien = JSON.parse(data.sinhVien);
                    if (sinhvien.TrangThaiO == 1) {
                        alert("Sinh viên đang ở tại ký túc xá");
                        return;
                    }
                    else {
                        document.getElementsByName("MaLop")[0].value = sinhvien.MaLop;
                        document.getElementsByName("HinhAnh")[0].value = sinhvien.HinhAnh;
                        $("#img-logo").attr("src", sinhvien.HinhAnh);
                        document.getElementsByName("TenSinhVien")[0].value = sinhvien.TenSinhVien;
                        document.getElementsByName("NgaySinh")[0].value = sinhvien.NgaySinh.split('T')[0];
                        document.getElementsByName("GioiTinh")[0].value = sinhvien.GioiTinh;
                        document.getElementsByName("DanToc")[0].value = sinhvien.DanToc;
                        document.getElementsByName("HoKhau")[0].value = sinhvien.HoKhau;
                        document.getElementsByName("SDT")[0].value = sinhvien.SDT;
                        document.getElementsByName("GhiChu")[0].value = sinhvien.GhiChu;
                    }
                }
                else {
                    alert("Mã sinh viên không tồn tại");
                }
            }
        });
    }
    $(document).ready(function () {
        $("#form-submit").on('submit', function (e) {
            if (!acceptSubmit) {
                e.preventDefault();
                if ($("#SoHieuPhong").val() == '') {
                    alert("Chưa chọn phòng");
                    return
                }
                let maSinhvien = document.getElementsByName("MaSinhVien")[0].value;
                $.get(urlCheckMaTonTai + maSinhvien, function (data) {
                    if (document.getElementsByName("dangkychosinhvien")[0].checked) {
                        if (data.result) {
                            alert("Mã sinh viên đã tồn tại");
                        }
                        else {
                            acceptSubmit = true;
                            $("#form-submit").submit();
                        }
                    }
                    else {
                        if (data.result) {
                            acceptSubmit = true;
                            $("#form-submit").submit();
                        }
                        else {
                            alert("Mã sinh viên không tồn tại");
                        }
                    }
                });
            }
        });
        
        function setFileField(fileUrl) {
            $('#' + $(upload).attr('for')).val(fileUrl);
            $("#img-logo").attr("src", fileUrl);
        }
        if (!$('.button-upload').length > 0) {
            var upload;
            var textBox = $('.upload');
            for (var i = 0; i < textBox.length; i++) {
                var uploadText = $(textBox[i]);
                uploadText.css('width', uploadText.width() - 70);
                uploadText.after('<button type="button" for="' + uploadText.attr('id') + '" class="button-upload btn btn-primary">Chọn ảnh</button>');
                $('.button-upload').click(function () {
                    upload = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finder = new CKFinder();
                    finder.basePath = '../files';
                    finder.selectActionFunction = setFileField;
                    finder.popup();
                });
            }
        }
    });
</script>